SoapProgetto2/WebContent/wsdl/FatturaDao.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://dao.alfasoft.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://dao.alfasoft.com" xmlns:intf="http://dao.alfasoft.com" xmlns:tns1="http://entita.alfasoft.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://dao.alfasoft.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://entita.alfasoft.com"/>
   <element name="getFatturaConCodice">
    <complexType>
     <sequence>
      <element name="codice" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getFatturaConCodiceResponse">
    <complexType>
     <sequence>
      <element name="getFatturaConCodiceReturn" type="tns1:Fattura"/>
     </sequence>
    </complexType>
   </element>
   <element name="getTutteFatture">
    <complexType/>
   </element>
   <element name="getTutteFattureResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getTutteFattureReturn" type="tns1:Fattura"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://entita.alfasoft.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="Fattura">
    <sequence>
     <element name="codiceCliente" nillable="true" type="xsd:string"/>
     <element name="importo" type="xsd:int"/>
     <element name="ragioneSociale" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getFatturaConCodiceRequest">

      <wsdl:part element="impl:getFatturaConCodice" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getTutteFattureResponse">

      <wsdl:part element="impl:getTutteFattureResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getFatturaConCodiceResponse">

      <wsdl:part element="impl:getFatturaConCodiceResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getTutteFattureRequest">

      <wsdl:part element="impl:getTutteFatture" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="FatturaDao">

      <wsdl:operation name="getFatturaConCodice">

         <wsdl:input message="impl:getFatturaConCodiceRequest" name="getFatturaConCodiceRequest">

       </wsdl:input>

         <wsdl:output message="impl:getFatturaConCodiceResponse" name="getFatturaConCodiceResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getTutteFatture">

         <wsdl:input message="impl:getTutteFattureRequest" name="getTutteFattureRequest">

       </wsdl:input>

         <wsdl:output message="impl:getTutteFattureResponse" name="getTutteFattureResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="FatturaDaoSoapBinding" type="impl:FatturaDao">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getFatturaConCodice">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getFatturaConCodiceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getFatturaConCodiceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getTutteFatture">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getTutteFattureRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getTutteFattureResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="FatturaDaoService">

      <wsdl:port binding="impl:FatturaDaoSoapBinding" name="FatturaDao">

         <wsdlsoap:address location="http://localhost:12213/SoapProgetto2/services/FatturaDao"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
